<h1>Importando as Bibliotecas</h1>

In [165]:
import pandas as pd

<h1>Extraindo os dados</h1>

In [256]:
unomes = ["id_usuario", "sexo", "idade", "ocupacao", "zip"]
usuarios = pd.read_table(
    "C:/Users/Joao/Livro/Livro/pydata-book/datasets/movielens/users.dat", 
    sep="::",
    header=None,
    names=unomes,
    engine="python"
)

rnomes = ["id_usuario", "id_filme", "nota", "duracao"]
notas = pd.read_table(
    "C:/Users/Joao/Livro/Livro/pydata-book/datasets/movielens/ratings.dat",
    sep="::",
    header=None,
    names=rnomes,
    engine="python",
)

mnomes = ["id_filme","titulo","generos"]
filmes = pd.read_table(
    "C:/Users/Joao/Livro/Livro/pydata-book/datasets/movielens/movies.dat",
    sep="::",
    header=None,
    names=mnomes,
    engine="python"
)

<h4>Analisando como os dados estão distribuídos</h4>

In [258]:
usuarios.head(5)

   id_usuario sexo  idade  ocupacao    zip
0           1    F      1        10  48067
1           2    M     56        16  70072
2           3    M     25        15  55117
3           4    M     45         7  02460
4           5    M     25        20  55455

In [261]:
notas.head(5)

   id_usuario  id_filme  nota    duracao
0           1      1193     5  978300760
1           1       661     3  978302109
2           1       914     3  978301968
3           1      3408     4  978300275
4           1      2355     5  978824291

In [263]:
filmes.head(5)

   id_filme                              titulo                       generos
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

<h1>Calculando as avaliações médias de um filme específico por identidade de gênero e idade</h1>

<h4>Mesclando as tabelas</h4>
<h6>Primeiro mesclaremos <u>notas</u> com <u>usuarios</u> e o resultado disso com os dados de <u>filmes</u></h6>

In [267]:
dados = pd.merge(pd.merge(notas,usuarios),filmes)

In [269]:
dados

,id_usuario,id_filme,nota,duracao,sexo,idade,ocupacao,zip,titulo,generos
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),Comedy
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)",Drama|Romance|War
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),Comedy|Drama
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),Drama
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

<h4>Obtendo as médias de cada filme agrupadas por indetidade e gênero</h4>

<h6>Para isso usaremos o método <u>pivot_table</u></h6>

In [271]:
media_notas = dados.pivot_table("nota",index="titulo",columns="sexo",aggfunc="mean")
media_notas.head(5)

sexo                                  F         M
titulo
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

<h4>Filtragem de filmes com pelo menos 250 avaliações</h4>

<h6>Para isso agruparemos os dados por título e usaremos a função <u>size()</u></h6>

In [275]:
notas_por_titulo = dados.groupby("titulo").size()
notas_por_titulo.head()

titulo
$1,000,000 Duck (1971)            37
'Night Mother (1986)              70
'Til There Was You (1997)         52
'burbs, The (1989)               303
...And Justice for All (1979)    199
dtype: int64

<h6>Pegando o index dos filmes que tiveram pelo menos 250 avaliações</h6>

In [278]:
titulos_ativos = notas_por_titulo.index[notas_por_titulo >= 250]
titulos_ativos

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='titulo', length=1216)

<h6>O index dos títulos que receberam pelo menos 250 avaliações pode ser usado na seleção das linhas de <u>media_notas</u> com o uso do <u>.loc</u></h6>

In [281]:
media_notas = media_notas.loc[titulos_ativos]
media_notas

sexo                                      F         M
titulo
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421
...                                     ...       ...
Young Guns (1988)                  3.371795  3.425620
Young Guns II (1990)               2.934783  2.904025
Young Sherlock Holmes (1985)       3.514706  3.363344
Zero Effect (1998)                 3.864407  3.723140
eXistenZ (1999)                    3.098592  3.289086

[1216 rows x 2 columns]

<h4>Filmes preferidos do gênero feminino:</h4>

In [284]:
filmes_preferidos_feminino = media_notas.sort_values("F", ascending=False)
filmes_preferidos_feminino.head()

sexo                                                       F         M
titulo
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415

<h1>Medindo a discrepância nas avaliações</h1>

<h4>Filmes que causam mais divisão entre espectadores masculinos e femininos</h4>

<h6>Uma maneira de realizar esse processo seria adicionando uma coluna <u>media_notas</u> contendo a diferença nas médias e, em seguida, ordenando por esse critério:</h6>

In [289]:
media_notas["dif"] = media_notas["M"] - media_notas["F"]

<h6>Ordenar por "dif" resulta nos filmes com as maiores diferencas de avaliação para podermos saber quais são os preferidos das mulheres</h6>

In [292]:
ordenado_por_dif = media_notas.sort_values("dif")
ordenado_por_dif.head()

sexo                              F         M       dif
titulo
Dirty Dancing (1987)       3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)  3.254717  2.578358 -0.676359
Grease (1978)              3.975265  3.367041 -0.608224
Little Women (1994)        3.870588  3.321739 -0.548849
Steel Magnolias (1989)     3.901734  3.365957 -0.535777

<h6>Invertendo a ordem das linhas e fatiando novamente separando as dez primeiras, obteremos os filmes preferidos dos homens aos quais as mulheres não deram avaliações tão altas: </h6>

In [295]:
ordenado_por_dif[::-1].head()

sexo                                           F         M       dif
titulo
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787

<h4>Filmes geraram maior discrepância entre os espectadores (independente de gênero)</h4>

<h6>Para isso utilizaremos o desvio padrão das avaliações por título e depois faremos uma filtragem para títulos ativos</h6>

In [299]:
std_por_nota_titulo = dados.groupby("titulo")["nota"].std()

In [301]:
std_por_nota_titulo = std_por_nota_titulo.loc[titulos_ativos]
std_por_nota_titulo.head()

titulo
'burbs, The (1989)                   1.107760
10 Things I Hate About You (1999)    0.989815
101 Dalmatians (1961)                0.982103
101 Dalmatians (1996)                1.098717
12 Angry Men (1957)                  0.812731
Name: nota, dtype: float64

<h6>Colocando em ordem decrescente para vermos os dez filmes com maior discrepância na avaliação</h6>

In [304]:
std_por_nota_titulo.sort_values(ascending=False)[:10]

titulo
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: nota, dtype: float64

<h1>Agrupando os dados de avaliação por tipo de gênero de filme</h1>

<h6>Os gêneros dos filmes estão espeficicados em uma string separada por pipes, para ajudar a agrupar os dados de avaliação por gênero, podemos usar o método <u>explode</u></h6>

<h6>Primeiro dividremos a string de gêneros em uma lista usando o método <u>str.split</u> na Series</h6>

In [309]:
filmes["generos"].head()

0     Animation|Children's|Comedy
1    Adventure|Children's|Fantasy
2                  Comedy|Romance
3                    Comedy|Drama
4                          Comedy
Name: generos, dtype: object

In [311]:
filmes["generos"].head().str.split("|")

0     [Animation, Children's, Comedy]
1    [Adventure, Children's, Fantasy]
2                   [Comedy, Romance]
3                     [Comedy, Drama]
4                            [Comedy]
Name: generos, dtype: object

In [313]:
filmes["genero"] = filmes.pop("generos").str.split("|")
filmes.head()

,id_filme,titulo,genero
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]

<h6>Chamar o método <u>explode("genero")</u> gerará um novo DataFrame com uma linha para cada elemento "interno" de cada lista de gêneros de filmes</h6>

In [316]:
filmes_explode = filmes.explode("genero")
filmes_explode[:10]

   id_filme                    titulo      genero
0         1          Toy Story (1995)   Animation
0         1          Toy Story (1995)  Children's
0         1          Toy Story (1995)      Comedy
1         2            Jumanji (1995)   Adventure
1         2            Jumanji (1995)  Children's
1         2            Jumanji (1995)     Fantasy
2         3   Grumpier Old Men (1995)      Comedy
2         3   Grumpier Old Men (1995)     Romance
3         4  Waiting to Exhale (1995)      Comedy
3         4  Waiting to Exhale (1995)       Drama

<h4>Mesclando as três tabelas e fazendo agupamento por gênero:</h4>

In [321]:
notas_com_genero = pd.merge(pd.merge(filmes_explode,notas), usuarios)
notas_com_genero.iloc[0]

id_filme                     1
titulo        Toy Story (1995)
genero               Animation
id_usuario                   1
nota                         5
duracao              978824268
sexo                         F
idade                        1
ocupacao                    10
zip                      48067
Name: 0, dtype: object

In [331]:
classificacao_por_genero = (notas_com_genero.groupby(["genero","idade"])["nota"].mean().unstack("idade"))
classificacao_por_genero.head(10)

idade,1,18,25,35,45,50,56
genero,,,,,,,
Action,3.506385,3.447097,3.453358,3.538107,3.528543,3.611333,3.610709
Adventure,3.449975,3.408525,3.443163,3.515291,3.528963,3.628163,3.649064
Animation,3.476113,3.624014,3.701228,3.740545,3.734856,3.780020,3.756233
Children's,3.241642,3.294257,3.426873,3.518423,3.527593,3.556555,3.621822
Comedy,3.497491,3.460417,3.490385,3.561984,3.591789,3.646868,3.650949
Crime,3.710170,3.668054,3.680321,3.733736,3.750661,3.810688,3.832549
Documentary,3.730769,3.865865,3.946690,3.953747,3.966521,3.908108,3.961538
Drama,3.794735,3.721930,3.726428,3.782512,3.784356,3.878415,3.933465
Fantasy,3.317647,3.353778,3.452484,3.482301,3.532468,3.581570,3.532700
Film-Noir,4.145455,3.997368,4.058725,4.064910,4.105376,4.175401,4.125932